Source: htseq
Maintainer: Diane Trout <diane@caltech.edu>
Section: python
Priority: optional
X-Python-Versions: >= 2.5
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev (>= 2.6.5), debhelper (>= 9), python-numpy (>= 1:1.3.0)
Standards-Version: 3.9.4

Package: python-htseq
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: A framework to process and analyze data from high-throughput
 HTSeq can be used to performing a number of common analysis tasks:
 .
 * Getting statistical summaries about the base-call quality scores to
   study the data quality.
 * Calculating a coverage vector and exporting it for visualization in
   a genome browser.
 * Reading in annotation data from a GFF file.
 * Assigning aligned reads from an RNA-Seq experiments to exons and
   genes.

