#!/usr/bin/make -f

DH_VERBOSE=1
PYTHON2=$(shell pyversions -vr)

export http_proxy=http://127.0.9.1:9

%:
	dh $@ --with python2,sphinxdoc

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
test-python%:
	python$* setup.py test -vv

override_dh_auto_test: $(PYTHON2:%=test-python%)
endif

override_dh_auto_build:
	make -C src
	python setup.py build

override_dh_installchangelogs:
	dh_installchangelogs -k doc/history.rst

override_dh_installdocs:
	python setup.py build_sphinx
	dh_installdocs

clean:
	make -C src clean
	rm -rf dist build MANIFEST
	dh_clean

.PHONY: clean

